# Copyright (c) 2023, Sudoblark Ltd
#
# All rights reserved.
#
# This source code is licensed under the BSD 3 clause license found in the
# LICENSE file in the root directory of this source tree.

openapi: 3.0.1
info:
  title: Monsternames - OpenAPI 3.0
  description: |-
    This is a relatively simple RESTAPI, based on the OpenAPI 3.0 specification, which generates pseudo-random names for
    common fantasy monsters.
  contact:
    name: Sudoblark Ltd
    url: https://github.com/sudoblark/sudoblark.monsternames.api
  license:
    name: BSD 3 clause
    url: https://raw.githubusercontent.com/sudoblark/sudoblark.monsternames.api/refs/heads/main/LICENSE.txt
  version: 2.0.0
externalDocs:
  description: Source Code
  url: https://github.com/sudoblark/sudoblark.monsternames.api
servers:
  - url: https://monsternames.sudoblark.com
tags:
  - name: goatmen
    description: Names themed on cute fluffy animals
  - name: goblin
    description: Names themed on washed out wrestlers/average blokes
  - name: ogre
    description: Names themed on cavemen like speech
  - name: orc
    description: Names themed on {noun} + {silly moniker}
  - name: skeleton
    description: Names themed on 18th Century British Gentlemen
  - name: troll
    description: Names themed on a Scandinavian twist
paths:
  /:
    get:
      summary: Show Swagger UI
      x-amazon-apigateway-integration:
        httpMethod: "GET"
        uri: "arn:aws:apigateway:${aws_region_name}:s3:path//${asset_bucket_name}/${swagger_index_path}"
        credentials: "${api_gateway_iam_role_arn}"
        type: "aws"
        passthroughBehavior : "when_no_match"
        responses:
          "default": {
            "statusCode": "200",
            "responseParameters": {
              "method.response.header.Content-Type": "'text/html'"
            }
          }
      responses:
        "200":
          description: "Successful request"
          content:
            text/html:
              schema:
                type: string
          headers:
            "Content-Type":
              $ref: '#/components/headers/Content-Type'

  /openapi:
    get:
      summary: Get OpenAPI specification
      description: Returns the OpenAPI 3.0 specification for this API
      x-amazon-apigateway-integration:
        httpMethod: "GET"
        uri: "arn:aws:apigateway:${aws_region_name}:s3:path//${asset_bucket_name}/open_api_definitions/monsternames.yaml"
        credentials: "${api_gateway_iam_role_arn}"
        type: "aws"
        passthroughBehavior: "when_no_match"
        responses:
          "default":
            statusCode: "200"
            responseParameters:
              "method.response.header.Content-Type": "'application/x-yaml'"
              "method.response.header.Access-Control-Allow-Origin": "'*'"
      responses:
        "200":
          description: "OpenAPI specification in YAML format"
          content:
            application/x-yaml:
              schema:
                type: string
          headers:
            "Content-Type":
              schema:
                type: string
                description: YAML content type
            "Access-Control-Allow-Origin":
              schema:
                type: string
                description: CORS header for Swagger UI

  /goatmen:
    post:
      summary: Add pseudo-random name options
      x-amazon-apigateway-integration:
        httpMethod: "POST"
        uri: "arn:aws:apigateway:${aws_region_name}:lambda:path/2015-03-31/functions/${backend_lambda_arn}/invocations"
        type: "aws_proxy"
        passthroughBehavior : "when_no_match"
      tags:
        - goatmen
      requestBody:
        description: Add first name
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FirstNameModel"
            examples:
              first_name:
                $ref: "#/components/examples/FirstName"

      responses:
        "200":
          $ref: "#/components/responses/200PostFirstName"
        "400":
          $ref: "#/components/responses/400PostInvalidBody"
        "409":
          $ref: "#/components/responses/409PostAlreadyExists"

    get:
      summary: Retrieve a pseudo-random name
      tags:
        - goatmen
      x-amazon-apigateway-integration:
        httpMethod: "POST"
        uri: "arn:aws:apigateway:${aws_region_name}:lambda:path/2015-03-31/functions/${backend_lambda_arn}/invocations"
        type: "aws_proxy"
        passthroughBehavior : "when_no_match"
      responses:
        "200":
          $ref: "#/components/responses/200GetFirstName"
        "500":
          $ref: "#/components/responses/500InternalError"

  /goblin:
    post:
      summary: Add pseudo-random name options
      x-amazon-apigateway-integration:
        httpMethod: "POST"
        uri: "arn:aws:apigateway:${aws_region_name}:lambda:path/2015-03-31/functions/${backend_lambda_arn}/invocations"
        type: "aws_proxy"
        passthroughBehavior : "when_no_match"
      tags:
        - goblin
      requestBody:
        description: Add first and/or last name
        required: true
        content:
          application/json:
            schema:
              anyOf:
                - $ref: "#/components/schemas/FirstNameModel"
                - $ref: "#/components/schemas/LastNameModel"
                - $ref: "#/components/schemas/FirstAndLastNameModel"
            examples:
              first_name:
                $ref: "#/components/examples/FirstName"
              last_name:
                $ref: "#/components/examples/LastName"
              first_and_last_name:
                $ref: "#/components/examples/FirstAndLastName"

      responses:
        "200":
          $ref: "#/components/responses/200PostFirstAndLastName"
        "400":
          $ref: "#/components/responses/400PostInvalidBody"
        "409":
          $ref: "#/components/responses/409PostAlreadyExists"

    get:
      summary: Retrieve a pseudo-random name
      tags:
        - goblin
      x-amazon-apigateway-integration:
        httpMethod: "POST"
        uri: "arn:aws:apigateway:${aws_region_name}:lambda:path/2015-03-31/functions/${backend_lambda_arn}/invocations"
        type: "aws_proxy"
        passthroughBehavior : "when_no_match"
      responses:
        "200":
          $ref: "#/components/responses/200GetFirstAndLastName"
        "500":
          $ref: "#/components/responses/500InternalError"

  /ogre:
    post:
      summary: Add pseudo-random name options
      x-amazon-apigateway-integration:
        httpMethod: "POST"
        uri: "arn:aws:apigateway:${aws_region_name}:lambda:path/2015-03-31/functions/${backend_lambda_arn}/invocations"
        type: "aws_proxy"
        passthroughBehavior : "when_no_match"
      tags:
        - ogre
      requestBody:
        description: Add first name
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FirstNameModel"
            examples:
              first_name:
                $ref: "#/components/examples/FirstName"
      responses:
        "200":
          $ref: "#/components/responses/200PostFirstName"
        "400":
          $ref: "#/components/responses/400PostInvalidBody"
        "409":
          $ref: "#/components/responses/409PostAlreadyExists"

    get:
      summary: Retrieve a pseudo-random name
      tags:
        - ogre
      x-amazon-apigateway-integration:
        httpMethod: "POST"
        uri: "arn:aws:apigateway:${aws_region_name}:lambda:path/2015-03-31/functions/${backend_lambda_arn}/invocations"
        type: "aws_proxy"
        passthroughBehavior : "when_no_match"
      responses:
        "200":
          $ref: "#/components/responses/200GetFirstName"
        "500":
          $ref: "#/components/responses/500InternalError"

  /orc:
    post:
      summary: Add pseudo-random name options
      x-amazon-apigateway-integration:
        httpMethod: "POST"
        uri: "arn:aws:apigateway:${aws_region_name}:lambda:path/2015-03-31/functions/${backend_lambda_arn}/invocations"
        type: "aws_proxy"
        passthroughBehavior : "when_no_match"
      tags:
        - orc
      requestBody:
        description: Add first and/or last name
        required: true
        content:
          application/json:
            schema:
              anyOf:
                - $ref: "#/components/schemas/FirstNameModel"
                - $ref: "#/components/schemas/LastNameModel"
                - $ref: "#/components/schemas/FirstAndLastNameModel"
            examples:
              first_name:
                $ref: "#/components/examples/FirstName"
              last_name:
                $ref: "#/components/examples/LastName"
              first_and_last_name:
                $ref: "#/components/examples/FirstAndLastName"
      responses:
        "200":
          $ref: "#/components/responses/200PostFirstAndLastName"
        "400":
          $ref: "#/components/responses/400PostInvalidBody"
        "409":
          $ref: "#/components/responses/409PostAlreadyExists"

    get:
      summary: Retrieve a pseudo-random name
      tags:
        - orc
      x-amazon-apigateway-integration:
        httpMethod: "POST"
        uri: "arn:aws:apigateway:${aws_region_name}:lambda:path/2015-03-31/functions/${backend_lambda_arn}/invocations"
        type: "aws_proxy"
        passthroughBehavior : "when_no_match"
      responses:
        "200":
          $ref: "#/components/responses/200GetFirstAndLastName"
        "500":
          $ref: "#/components/responses/500InternalError"

  /skeleton:
    post:
      summary: Add pseudo-random name options
      x-amazon-apigateway-integration:
        httpMethod: "POST"
        uri: "arn:aws:apigateway:${aws_region_name}:lambda:path/2015-03-31/functions/${backend_lambda_arn}/invocations"
        type: "aws_proxy"
        passthroughBehavior : "when_no_match"
      tags:
        - skeleton
      requestBody:
        description: Add first and/or last name
        required: true
        content:
          application/json:
            schema:
              anyOf:
                - $ref: "#/components/schemas/FirstNameModel"
                - $ref: "#/components/schemas/LastNameModel"
                - $ref: "#/components/schemas/FirstAndLastNameModel"
            examples:
              first_name:
                $ref: "#/components/examples/FirstName"
              last_name:
                $ref: "#/components/examples/LastName"
              first_and_last_name:
                $ref: "#/components/examples/FirstAndLastName"
      responses:
        "200":
          $ref: "#/components/responses/200PostFirstAndLastName"
        "400":
          $ref: "#/components/responses/400PostInvalidBody"
        "409":
          $ref: "#/components/responses/409PostAlreadyExists"

    get:
      summary: Retrieve a pseudo-random name
      tags:
        - skeleton
      x-amazon-apigateway-integration:
        httpMethod: "POST"
        uri: "arn:aws:apigateway:${aws_region_name}:lambda:path/2015-03-31/functions/${backend_lambda_arn}/invocations"
        type: "aws_proxy"
        passthroughBehavior : "when_no_match"
      responses:
        "200":
          $ref: "#/components/responses/200GetFirstAndLastName"
        "500":
          $ref: "#/components/responses/500InternalError"

  /troll:
    post:
      summary: Add pseudo-random name options
      x-amazon-apigateway-integration:
        httpMethod: "POST"
        uri: "arn:aws:apigateway:${aws_region_name}:lambda:path/2015-03-31/functions/${backend_lambda_arn}/invocations"
        type: "aws_proxy"
        passthroughBehavior : "when_no_match"
      tags:
        - troll
      requestBody:
        description: Add first and/or last name
        required: true
        content:
          application/json:
            schema:
              anyOf:
                - $ref: "#/components/schemas/FirstNameModel"
                - $ref: "#/components/schemas/LastNameModel"
                - $ref: "#/components/schemas/FirstAndLastNameModel"
            examples:
              first_name:
                $ref: "#/components/examples/FirstName"
              last_name:
                $ref: "#/components/examples/LastName"
              first_and_last_name:
                $ref: "#/components/examples/FirstAndLastName"
      responses:
        "200":
          $ref: "#/components/responses/200PostFirstAndLastName"
        "400":
          $ref: "#/components/responses/400PostInvalidBody"
        "409":
          $ref: "#/components/responses/409PostAlreadyExists"
    get:
      summary: Retrieve a pseudo-random name
      tags:
        - troll
      x-amazon-apigateway-integration:
        httpMethod: "POST"
        uri: "arn:aws:apigateway:${aws_region_name}:lambda:path/2015-03-31/functions/${backend_lambda_arn}/invocations"
        type: "aws_proxy"
        passthroughBehavior : "when_no_match"
      responses:
        "200":
          $ref: "#/components/responses/200GetFirstAndLastName"
        "500":
          $ref: "#/components/responses/500InternalError"

components:
  headers:
    Content-Type:
      schema:
        type: string
        description: Type of content to return

  examples:
    FirstName:
      summary: Add a new first name
      value:
        first_name: Barnaby
    LastName:
      summary: Add a new last name
      value:
        last_name: The brass dragon
    FirstAndLastName:
      summary: Add a new first and last name
      value:
        first_name: Barnaby
        last_name: The brass dragon
  schemas:
    ErrorModel:
      type: object
      required:
      - error
      - message
      properties:
        error:
          type: string
          description: Error type identifier
        message:
          type: string
          description: Human-readable error message

    FirstNameModel:
      type: object
      required:
      - first_name
      properties:
        first_name:
          type: string
          description: First name component
          minLength: 1
          maxLength: 100
          pattern: '^[a-zA-Z0-9\s\-\''.]+$'

    LastNameModel:
      type: object
      required:
      - last_name
      properties:
        last_name:
          type: string
          description: Last name or title component
          minLength: 1
          maxLength: 100
          pattern: '^[a-zA-Z0-9\s\-\''.]+$'

    FirstAndLastNameModel:
      type: object
      required:
      - first_name
      - last_name
      properties:
        first_name:
          type: string
          description: First name component
          minLength: 1
          maxLength: 100
          pattern: '^[a-zA-Z0-9\s\-\''.]+$'
        last_name:
          type: string
          description: Last name or title component
          minLength: 1
          maxLength: 100
          pattern: '^[a-zA-Z0-9\s\-\''.]+$'

  responses:
    200GetFirstName:
      description: "Successful response"
      content:
        application/json:
          schema:
            type: object
            required:
            - first_name
            - full_name
            properties:
              first_name:
                type: string
                description: Randomly selected first name
              full_name:
                type: string
                description: Complete formatted name
          examples:
            goatmen:
              value:
                first_name: "Fluffy"
                full_name: "Fluffy"

    200PostFirstName:
      description: "Successful response"
      content:
        application/json:
          schema:
            type: object
            required:
            - first_name
            - message
            properties:
              first_name:
                type: string
                description: The name that was added
              message:
                type: string
                description: Confirmation message
          examples:
            success:
              value:
                first_name: "Barnaby"
                message: "Successfully added first name"

    200GetFirstAndLastName:
      description: "Successful response"
      content:
        application/json:
          schema:
            type: object
            required:
            - first_name
            - last_name
            - full_name
            properties:
              first_name:
                type: string
                description: Randomly selected first name
              last_name:
                type: string
                description: Randomly selected last name or title
              full_name:
                type: string
                description: Complete formatted name
          examples:
            goblin:
              value:
                first_name: "Dave"
                last_name: "The Accountant"
                full_name: "Dave The Accountant"

    200PostFirstAndLastName:
      description: "Successful response"
      content:
        application/json:
          schema:
            type: object
            required:
            - message
            properties:
              first_name:
                type: string
                description: The first name that was added (if provided)
              last_name:
                type: string
                description: The last name that was added (if provided)
              message:
                type: string
                description: Confirmation message
          examples:
            both_names:
              value:
                first_name: "Dave"
                last_name: "The Accountant"
                message: "Successfully added first and last name"

    400PostInvalidBody:
      description: "Invalid body in POST"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorModel"

    409PostAlreadyExists:
      description: "Duplicate record"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorModel"
          examples:
            duplicate:
              value:
                error: "ConditionalCheckFailedException"
                message: "Name already exists in database"

    500InternalError:
      description: "Internal server error"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorModel"
          examples:
            server_error:
              value:
                error: "InternalServerError"
                message: "An unexpected error occurred while processing your request"